/* position carousel */
.carouselcontainer {
  position: relative;
  width: 100%;
}

/*image formatting*/
.foodcarouselimage {
  opacity: 1;
  width: 100%;
  height: auto;
  transition: 0.9s ease;
  backface-visibility: hidden;
}

/* make text description visible only when hovering */
.hoverfooddescription {
  transition: 0.5s ease;
  opacity: 0;
}

/* set transparency of overlay when hovering */
.carouselcontainer:hover .foodcarouselimage {
  opacity: 0.5;
}

/*format text on food images*/
.text {
  color: black;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 100;
}

/* make image text opaque */
.carouselcontainer:hover .hoverfooddescription {
  opacity: 1;
}
