header {
  display: inline;
  font-size: 30px;
  letter-spacing: 1px;
  font-family: 'Rock Salt', cursive;
}

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#F6F4F3;
  }

  li a{
    float: left;
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
  }

  li.headerlinks {
    text-decoration: none;
    float: right;
    border-right: 1px solid #bbb;
    line-height: 0.2;
    margin: 12px 3px;
    text-align: right;
    padding: 15px 20px;
    font-family: 'Encode sans Condensed', sansserif;
    font-size: 13px;
    letter-spacing: 10px;
  }

  li.crazystonelogo {
    display: inline;
    display: block;
    color: #111;
    text-align: left;
    padding: 5px 20px;
    text-decoration: none;
    font-size: 30px;
    letter-spacing: 1px;
    font-family: 'Rock Salt', cursive;
  }

  li a:hover:not(.active) {
    font-weight: bold;
  }


  li a.active {
    font-weight: bolder;
    font-size:118%;
    color: black;
  }
    
  li a.active:hover {
    font-weight: none;
   
  }

  li a:hover {
  text-decoration: none;
  }
