/*main background image formatting*/
img {
  overflow: hidden;
  width: 100%;
  margin: 0;
  background: linear-gradient(
    360deg,
    rgba(20, 20, 20, 0.7) -4.15%,
    rgba(0, 0, 0, 0.105) 21.26%
  );
}

table,
th,
td {
  border-spacing: 20px;
}

body {
  font-family: "Encode sans Condensed", sansserif;
  font-size: 14px;
  letter-spacing: 7px;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  text-align: center;
  background-color: #fcfcfc;
}


ul {
  background-color: #fcfcfc;
}

/*to leave main logo un-underlined when active*/
li a.active { 
  font-size: 32px;
  text-decoration-line: none;
  font-weight:normal;
}

li a:not(.active) { 
  color:black;
}

li a.active:hover {
  text-decoration: none;
}

.aboutcrazystone {
  margin: 35px 150px;
}
.text {
  font-size: 15px;
}
