
.menubox {
  display: table;
  /* keep the background color wrapped tight */
  margin: 40px auto 50px auto;
  /* keep the table centered */
  padding: 10px;
  font-size: 13px;
  background-color:#F6F4F3;
  border-style: hidden;
  border-radius:25px;
  border-width: 0.5px;
  color: #ffffff;
  width: 90%;
  color: black;
  display: center;
}

body nav {
  font-family: "Encode sans Condensed", sansserif;
  color: black;
  font-size: 14px;
  letter-spacing: 2px;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  text-align:center;
}
h1 {
  font-size: 21px;
  margin: 0px 0px 0px 0px;
  text-align:center;
  font-weight:500;
}

nav a{
  display: inline-block;
  display: center;
  text-align: center;
  font-weight: 100;
  text-decoration: none;
  letter-spacing: 7px;
  color: #111;
  padding: 15px 20px;
  font-size: 13px;
  margin: 5;
}

nav a:hover:not(.active) {
  font-weight: bold;
}

nav a.active {
  font-weight: bolder;
    font-size:108%;
    color: black;
}

nav a:hover {
  text-decoration: none;
}

